@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Header */

.bar{
    font-family: 'Noto Sans Mono', monospace;
    width: 100%;
    background-color: #333533;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    

}

.liste{
    list-style-type: none;
}

.liste li {
    display: inline-block;
    padding: 20px 10px;
}

.bar a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ;
    
}

.bar a:hover{
    color: red;
}

.logo{
    display: flex;
    align-items: left;
}
/* fin header  */

#ha{
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}

.imgpresentation{
    
    transition: transform .2s;  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgpresentation:hover{
    transform: scale(1.1);
}

.pa{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;

}
.video{
    
    text-align: center;
}



/* FOOTER */
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    margin-top: 5%;
    box-sizing: border-box;
    background-color: #333533;
    padding: 20px 0px;
    
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    color: white;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

    
}

footer{
    line-height: 1,5;
    font-family: 'Poppins', sans-serif;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{


    color: #ffffff;
    padding-left: 8px;
}

.reseau{
    
    display: flex;
    flex-direction: column;
    height: 40px;
}



/* fin FOOTER  */

/* FORMULAIRE */

.titrecontact{
    text-align: center;
    margin-top: 3%;
    font-size: 70px;
    font-family: 'Noto Sans Mono', monospace;
}

form{
    margin-top: 5%;
    text-align: center;
    padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

label {
    display: inline-block;
  width: 90px;
  text-align: right;

}

.text1 {
    font-family: 'Noto Sans Mono', monospace;
    
}
.text2{
    font-family: 'Noto Sans Mono', monospace;
    
    
}
.text3 {
    font-family: 'Noto Sans Mono', monospace;
    
}

label input{
    width: 300px;
    box-sizing: border-box;

}



/* fin formulaire */

/* Albums */

.albums{
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-family: 'Noto Sans Mono', monospace;
    
}

.covers{
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 2%;
}

/* Evenements */

.even{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-family: 'Noto Sans Mono', monospace;
}

.twitter{
    display: flex;
    justify-content: center;
} 


/* Ilmane*/


#ti1{
    display:flex;
    text-decoration: underline;
    justify-content:center;
    background-color:lightgray;
}



li{
    list-style: none;
    text-decoration: none;
    
    font-family: 'Noto Sans Mono', monospace;
    
}

ul{
    
}

a{

    list-style: none;
    text-decoration: none;
    color:black;
}
body{

    background-color:white;
}
.ti1{ 
    background-color:peru(211, 211, 211, 0.486);
    font-style:italic;
    color:black;
    font-size: 300%;
}

#ti3{
    display: flex;
    justify-content: center;
}
.h1{ 
    display: flex;
    text-decoration: underline;   
    justify-content: center;
    border-bottom:brown;
    border-style:inset;
    background-color: lightgray;
    color:black;
    border-radius: 36px 36px;
    font-family: 'Noto Sans Mono', monospace;
}

.li1{
    font-style:italic;
    font-family: 'Noto Sans Mono', monospace;

}
    
.ima{
    padding-top:50px;
    padding-right: 450px;
    padding-bottom: 50px;
    padding-left: 550px;
}

.p1{
    border-color: rgb(255, 139, 30);
    border-style:solid;
    font-family: 'Noto Sans Mono', monospace;

}

.p2{
    border-color: rgb(255, 139, 30);
    
    border-style:ridge;
    font-family: 'Noto Sans Mono', monospace;
}




